@import "tailwindcss";

.bg-color {
  background: #121517;
}

.container {
  width: 1255px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.primary-color {
  color: #d9d9d9;
}
.secondary-color {
  color: #121517;
}
